<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <app-sidenav-list (closeSidenav)="sidenav.close()"></app-sidenav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

<swiper effect="coverflow" lazy="true" [slidesPerView]="3" [spaceBetween]="50" (swiper)="onSwiper($event)"
  (slideChange)="onSlideChange()" [navigation]="true" [autoplay]="true" [pagination]="{ clickable: true }"
  [scrollbar]="{ draggable: true }">

  <ng-template swiperSlide>

    <div class="sliderimage">
      <img src="../assets/images/slider_image1.jpg">

    </div>
  </ng-template>

  <ng-template swiperSlide>
    <div class="sliderimage">
      <img src="../assets/images/slider_image2.jpg">
    </div>
  </ng-template>

  <ng-template swiperSlide>
    <div class="sliderimage">
      <img src="../assets/images/slider_image3.jpg">
    </div>
  </ng-template>


  <ng-template swiperSlide>
    <div class="sliderimage">
      <img src="../assets/images/slider_image1.jpg">
    </div>
  </ng-template>

  <ng-template swiperSlide>
    <div class="sliderimage">
      <img src="../assets/images/slider_image2.jpg">
    </div>
  </ng-template>

  <ng-template swiperSlide (click)="goto_event()">
    <div class="sliderimage">
      <img src="../assets/images/slider_image3.jpg">
    </div>
  </ng-template>


</swiper>



<!-- 
    <div class="top-header-box">

      <div class="row">
        <div class="col">
          <div class="top-header-content">
  
            <a [routerLink]="['/track-order']">
              <div class="label">Track Order</div>
            </a>
  
            <div class="label"> | </div>
  
            <a [routerLink]="['/contact-us']">
              <div class="label">Contact Us</div>
            </a>
  
            <a [routerLink]="['https://www.facebook.com']">
              <img src="../../assets/images/facebook.png">
            </a>
  
            <a [routerLink]="['https://www.twitter.com']">
              <img src="../../assets/images/twitter.png">
            </a>
  
            <a [routerLink]="['https://www.instagram.com']">
              <img src="../../assets/images/instagram.png">
            </a>
  
          </div>
  
        </div>
  
      </div>
  
    </div> -->

<!-- <router-outlet></router-outlet> -->



<!--   
      <mat-sidenav-container>
        <mat-sidenav #sidenav role="navigation">
       
          <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
        </mat-sidenav>
        <mat-sidenav-content>
          <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
       
          <main>
            <router-outlet></router-outlet>
          </main>
        </mat-sidenav-content>
      </mat-sidenav-container>
   -->
<!-- 
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">

    <a class="navbar-brand" href="#">Logo</a>
  
   
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Link 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link 2</a>
      </li>
  
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Dropdown link
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Link 1</a>
          <a class="dropdown-item" href="#">Link 2</a>
          <a class="dropdown-item" href="#">Link 3</a>
        </div>
      </li>
    </ul>
  </nav> -->

<!-- if the platform is desktop-->

<!-- <div class="menu-box" *ngIf="!isDesktopDevice">

    <div class="row">


      <div class="col-lg-2 col-xl-2 col-xxl-2">
        <div class="logo">Logo Here</div>
      </div>

      <div class="col-lg-3.5 col-xl-3.5 col-xxl-3.5">
        <div class="menunavbar" *ngIf="!isDesktopDevice">
          <a href="#home" id="home">Home</a>

          <div class="menudropdown">
            <button class="menudropbtn" id="menudropbtn1">Remedies
              
              <i class="fa fa-angle-down"></i>
            </button>
            <div class="menudropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>

            </div>
          </div>


          <div class="menudropdown">
            <button class="menudropbtn" id="menudropbtn2">Our Products
              
              <i class="fa fa-angle-down"></i>
            </button>
            <div class="menudropdown-content">
            

              <div class="row">


                <div class="col-lg-4 col-xl-4 col-xxl-4">
                  <p>Homeopathy</p>
                  <div class="border-bottom-green"></div>

                  <a href="#">
                    <img src="../../assets/images/homeo_image1.png" id="homeo_image1">
                    All Product
                  </a>

                  <a href="#">
                    <img src="../../assets/images/homeo_image2.png" id="homeo_image2">
                    Dilutions
                  </a>

                  <a href="#">
                    <img src="../../assets/images/homeo_image3.png" id="homeo_image3">
                    Mother Tinctures
                  </a>


                  <a href="#">
                    <img src="../../assets/images/homeo_image4.png" id="homeo_image4">
                    Patent Medicine
                  </a>
                  <a href="#">
                    <img src="../../assets/images/homeo_image5.png" id="homeo_image5">
                    Emercees Drops
                  </a>

                  <a href="#">
                    <img src="../../assets/images/homeo_image6.png" id="homeo_image6">
                    Ointments & Cream
                  </a>

                  <a href="#">
                    <img src="../../assets/images/homeo_image4.png" id="homeo_image4">
                    Bio Chemic & Bio Mix Tablets
                  </a>

                  <a href="#">
                    <img src="../../assets/images/homeo_image4.png" id="homeo_image4">
                    Tablet & Tricuration
                  </a>

                </div>


                <div class="col-lg-4 col-xl-4 col-xxl-4">
                  <p>Personal Care</p>
                  <div class="border-bottom-green"></div>
                  <a href="#">
                    <img src="../../assets/images/personal_image1.png" id="personal_image1">
                    All Product
                  </a>
                  <a href="#">
                    <img src="../../assets/images/homeo_image6.png" id="homeo_image6">
                    Pain Relief
                  </a>
                  <a href="#">
                    <img src="../../assets/images/personal_image2.png" id="personal_image2">
                    Oil Product
                  </a>

                  <a href="#">
                    <img src="../../assets/images/personal_image3.png" id="personal_image3">
                    Oral Care
                  </a>

                  <a href="#">
                    <img src="../../assets/images/personal_image4.png" id="personal_image4">
                    Skin Care
                  </a>

                  <a href="#">
                    <img src="../../assets/images/personal_image5.png" id="personal_image5">
                    Head Care
                  </a>
                  <a href="#">
                    <img src="../../assets/images/personal_image6.png" id="personal_image6">
                    Hair Care
                  </a>

                </div>
                <div class="col-lg-4 col-xl-4 col-xxl-4">
                  <img src="../../assets/images/arsenic.jpg">
                </div>
              </div>


            </div>
          </div>

        </div>

      </div>

      <div class="large-screen-searchbar">
        <div class="col-lg-2.5 col-xl-2.5 col-xxl-2.5">
          <p>searchbar here</p>
        </div>
      </div>


      <div class="user-cart">
        <div class="col-lg-3 col-xl-3 col-xxl-3">


          <a [routerLink]="['/signin']">
            <img src="../../assets/images/user.png">
          </a>


          <a [routerLink]="['/wishlist']">
            <img src="../../assets/images/heart.png">
          </a>

          <a [routerLink]="['/cart']">
            <img src="../../assets/images/shopping-cart.png">
            <ion-badge color="danger" slot="end">5</ion-badge>
          </a>

        </div>
      </div>

    </div>
  </div> -->

<!-- end of if the platform is desktop-->








<!-- <div>Some tags before</div>
<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>Slide 1</ng-template>  
  <ng-template carouselSlide>Slide 2</ng-template>  
  <ng-template carouselSlide>Slide 3</ng-template>  
</owl-carousel-o>
<div>Some tags after</div>


<owl-carousel-o [options]="customOptions1">

  <ng-container *ngFor="let slide of dynamicSlides">
    <ng-template carouselSlide [id]="slide.id">
      <div class="owlimages">
      <img [src]="slide.src" [alt]="slide.alt" [title]="slide.title" (click)="goto_event(slide.id)">
    </div>
    </ng-template>
  </ng-container>

</owl-carousel-o>


<swiper effect="coverflow"  lazy="true"  [slidesPerView]="3" [spaceBetween]="50" (swiper)="onSwiper($event)"
 (slideChange)="onSlideChange()" 
[navigation]="true" [autoplay]="true"  [pagination]="{ clickable: true }" [scrollbar]="{ draggable: true }">
  
<ng-template swiperSlide>

  <div class="sliderimage">
    <img src="../assets/images/slider_image1.jpg">  
 
  </div>
  </ng-template>

  <ng-template swiperSlide> 
    <div class="sliderimage">
    <img src="../assets/images/slider_image2.jpg">  
    </div>
  </ng-template>

  <ng-template swiperSlide> 
    <div class="sliderimage">
    <img src="../assets/images/slider_image3.jpg">  
</div>
  </ng-template>


  <ng-template swiperSlide> 
    <div class="sliderimage">
    <img src="../assets/images/slider_image1.jpg">  
    </div>
  </ng-template>

  <ng-template swiperSlide> 
    <div class="sliderimage">
    <img src="../assets/images/slider_image2.jpg">  
    </div>
  </ng-template>

  <ng-template swiperSlide (click)="goto_event()"> 
    <div class="sliderimage">
    <img src="../assets/images/slider_image3.jpg">  
    </div>
  </ng-template>

  
</swiper>


<div class="carousel">
  <a class="carousel-item" href="#one!">    <img src="../assets/images/slider_image1.jpg"> </a>
  <a class="carousel-item" href="#two!">    <img src="../assets/images/slider_image2.jpg">  </a>
  <a class="carousel-item" href="#three!">    <img src="../assets/images/slider_image3.jpg">  </a>
  <a class="carousel-item" href="#four!">    <img src="../assets/images/slider_image4.jpg">  </a>
  <a class="carousel-item" href="#five!">    <img src="../assets/images/slider_image5.jpg">  </a>
</div> -->